.only768p {
  display: inherit;
}
.display768p {
  display: none;
}
header div nav button {
  min-width: 160px;
}

h1 {
  font-size: 32px;
}

header > div {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div > nav {
  width: auto;
}

header > div > img {
  flex: 1;
  padding: 4px 0px 4px 40px;
}
header > div > nav > p {
  width: 40px;
}

header > div > nav > p > span {
  display: none;
}
.first-part nav {
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.first-part > nav > div {
  width: fit-content;
  flex-shrink: 0;
  gap: 5px;
}

.pictures-box {
  margin: 20px -20px 40px -20px;
  width: 120%;
}

.pictures-box1 {
  max-width: none;
}

.second-part {
  flex-direction: column;
}

.text-section {
  width: 100%;
}
.text-section p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 50px;
}

.plan-section-box {
  flex-direction: column;
}
.plan-text-box {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 20px;
}

.plan-img-box {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0px;
}

h2 {
  margin-top: 30px;
}
.carouselle-bloc {
  display: flex;
  flex-direction: column;
}

.carouselle-box {
  display: flex;
  flex-direction: column;
}

.carouselle li {
  width: calc((100% - 10px) / 1.5);
}
.carousel-img-box {
  min-height: 150px;
  max-height: 250px;
}
.carousel-img-box img {
  height: 250px;
}

.travellers-bloc {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  flex-shrink: 0;
}

.travellers-box > img {
  width: 350px;

  object-fit: cover;
}
