.first-part {
    width: 100%
}
h1 span {
  color: #ff5d5d;
}

.comments {
  font-size: 14px;
  color: #333333;
  margin-bottom: 33px;
}

.comments a {
  color: #333333;
}

main nav {
  display: flex;
  gap: 10px;
  padding: 0 0 26px 0;
  height: 91px;
}
main nav > div {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  border: solid 1px black;
  border-radius: 15px;
  flex: 1;
  padding: 10px 15px;
  line-height: 22px;
  height: 100%;
}
main nav i {
    font-size: 20px;
}

main nav .activities-nav:hover {
  background-color: black;
  color: white;
  transition-duration: 0.1s;
  cursor: pointer;
}

.pictures-box {
  display: flex;
  gap: 2px;
  width: 100%;
  height: 430px;


}

.pictures-box1 {

  display: flex;
  flex-direction: column;
  /* position: relative; */
  width: 55%;
  height: 430px;

}
.pictures-box2 {
    display: flex;
    flex-direction: column;
     width: 45%;
     gap : 2px
}
.pictures-box2-Up,
.pictures-box2-Down {
  height: calc(50% - 1px);
  width: 100%;
  position: relative;
 
}

.pictures-box img{
  height: 100%;
  width: 100%;
   object-fit: cover;
}

.pictures-box > .pictures-box1 > button {
  z-index: 10;
  position: absolute;
  top: 660px;
  left: 80px;
  color: white;
  background-color: black;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-family: TS-Med, sans-serif;
  font-size: 12px;
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pictures-box > .pictures-box1 > button:hover {
  background-color: #333333;
  cursor: pointer;
}

.pictures-box img:hover {
  opacity: 0.8;
  transition-duration: 0.1s;
  cursor: pointer;
}

menu {
display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  margin: 20px 0px 40px 0px;
  width: 100%;
  height: 16px;

}

menu a, i{

  font-size: 12px;
  color: black;
  text-decoration: none;
}

menu a:hover {
  text-decoration: underline;
  color: #646464;
}

menu i:hover {
  color: #646464;
}
.second-part {
  display: flex;
  border: solid blue 2px;
  height: 472px;
}
 .text-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.text-section p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-top: 12px;
}

.plan-section {
width: 50%;
height: 100%;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 border: rgb(43, 226, 80) solid 2px; 
}

.plan-section> :nth-child(1) {
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: #FF5D5D;

border-top-left-radius: 20px ;
border-top-right-radius: 20px ;
padding: 32px;
height: 60%;
width: 70% ;
}
.plan-section> :nth-child(2) {
height: 40%;
width: 70% ;
border-bottom-left-radius: 20px ;
border-bottom-right-radius: 20px ;
}

/* .plan-section > img,
div {
  max-width: 400px;
} */
/* .second-part > div {
  /* border: #ff5d5d 2px solid;