.first-part {
  width: 100%;
}
h1 span {
  color: #ff5d5d;
}

.comments {
  font-size: 14px;
  color: #333333;
  margin-bottom: 33px;
}

.comments a {
  color: #6d6c6c;
  text-decoration: underline;
  font-weight: 100;
}

main nav {
  display: flex;
  gap: 10px;
  padding: 0 0 26px 0;
  height: 91px;
}
main nav > div {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  border: solid 1px black;
  border-radius: 15px;
  flex: 1;
  padding: 10px 15px;
  line-height: 22px;
  height: 100%;
}
main nav i {
  font-size: 20px;
}

.activities-nav:hover {
  background-color: black;
  color: white;
  transition-duration: 0.1s;
  cursor: pointer;
}

.pictures-box {
  display: flex;
  gap: 2px;
  width: 100%;
  height: 430px;
}

.pictures-box1 {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 430px;
  position: relative;
}
.pictures-box2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 2px;
}
.pictures-box2-Up,
.pictures-box2-Down {
  height: calc(50% - 1px);
  width: 100%;
  position: relative;
}

.pictures-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pictures-box > .pictures-box1 > button {
  z-index: 10;
  position: absolute;
  top: 370px;
  left: 30px;
  color: white;
  background-color: black;
  z-index: 5;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-family: TS-Med, sans-serif;
  font-size: 12px;
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pictures-box > .pictures-box1 > button > i {
  color: white;
}
.pictures-box > .pictures-box1 > button:hover {
  background-color: #333333;
  cursor: pointer;
}

.pictures-box img:hover {
  opacity: 0.8;
  transition-duration: 0.1s;
  cursor: pointer;
}

menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  margin: 20px 0px 40px 0px;
  width: 100%;
  height: 16px;
}
menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
menu a,
menu i,
menu p {
  font-size: 12px;
  color: #333333;
  text-decoration: none;
  font-family: TS-Reg, Arial, sans-serif;
}

menu a:hover {
  text-decoration: underline;
  color: #646464;
}

menu i:hover {
  color: #646464;
}
