/* HEADER */
header {
  background-color: orange;
}

header div nav button {
  min-width: 160px;
}

header > div > nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 30%;
}

.display1024p {
  display: none;
}

.only1024p {
  display: inherit;
}

.pictures-box {
  max-height: 275px;
}

.pictures-box2 {
  max-width: 325px;
}

.second-part {
  flex-direction: column;
}

.text-section {
  width: 100%;
}
.text-section p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 50px;
}

.plan-section {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}

.plan-text-box {
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  height: 100%;
  width: 100%;
}
.plan-img-box {
  /* min-width: 330px; */
  height: 100%;
  width: 100%;
}

.plan-img-box > img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  object-fit: cover;
  min-width: none;
}
.carouselle li {
  width: calc((100% - 20px) / 2.5);
}
