/* HEADER */

header div nav button {
  min-width: 160px;
}

header > div > nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 50%;
}

.display1024p {
  display: none;
}

.only1024p {
  display: inherit;
}

.pictures-box {
  max-height: 275px;
}

.pictures-box2 {
  max-width: 325px;
}

.second-part {
  flex-direction: column;
}

.text-section {
  width: 100%;
}
.text-section p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 50px;
}

.plan-section {
  width: 100%;
}
.plan-section-box {
  flex-direction: row;
  width: 100%;
}

.plan-text-box {
  height: 100%;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.plan-img-box {
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.carouselle li {
  width: calc((100% - 20px) / 2.5);
}
